  @{
    ViewBag.Title = "Đại lý ủy quyền The Men Cửa hàng VuaHangHieu Chính hãng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToyStore.Models.SanPham>
<section class="awe-section-8">
    <div class="banner_home_bottom">
        <div class="topic-block">
            <div class="topic-block-body">
            <div class="topic-block-body">
                <a href="#"><img src="~/Assets/Images/shop/1196699288_banner-slider-.png" width="1400" height="501"></a>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-4">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Nước Hoa">
                    <a href="#" class="text_gradient">
                        Nước Hoa
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 1 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-5">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Túi Sách">
                    <a href="#" class="text_gradient">
                        Túi Sách
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 2 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Đồng Hồ">
                    <a href="#" class="text_gradient">
                        Đồng Hồ
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 3 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Mũ Nón">
                    <a href="#" class="text_gradient">
                        Mũ Nón
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 4 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-6">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Kính Mắt">
                    <a href="#" class="text_gradient">
                        Kính Mắt
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 5 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-7">
    <div class="item-box-list">
        <div class="category-item">
            <div class="heading">
                <h2 class="title-head" title="Phụ Kiện">
                    <a href="#" class="text_gradient">
                        Phụ Kiện
                    </a>
                </h2>
            </div>
            <div class="page category-page">
                <div class="page-body">
                    <div class="product-grid featured-product-grid">
                        <div class="item-grid">
                            @Html.Action("CollectionPro", "Store", new { id = 6 })
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="ajax-products-busy"></div>
                        <div class="products-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="awe-section-9">
    <div class="news-list-homepage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        @Html.Action("CollectionPro", "Store", new { id = 7 })
                        <h2 class="title-head" title="LATEST VANS NEWS">
                            <a href="#" class="text_gradient">
                                Tin Tức
                            </a>
                        </h2>
                    </div>
                    <div class="news-items">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="https://themen.com.vn/lich-su-phat-trien-the-men-fashion.new" title="The Men - VinCom Lạng Sơn | Hotline: 0866.576.585">
                                            <img alt="The Men - VinCom Lạng Sơn | Hotline: 0866.576.585" src="~/Assets/Images/shop/hot.png" title="The Men - VinCom Lạng Sơn | Hotline: 0866.576.585 ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">Ca sĩ hải ngoại Quang Lê lựa chọn trang phục Vest, Suit The Men tại The Men Fashion </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="#" title="Lịch sử phát triển The Men Fashion">
                                            <img alt="Lịch sử phát triển The Men Fashion" src="~/Assets/Images/shop/Themen.png" title="Lịch sử phát triển The Men Fashion ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">Lịch sử phát triển The Men Fashion </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-item">
                                    <div class="picture">
                                        <a href="#" title="Thương hiệu Việt ra mắt dịch vụ may đo cao cấp ">
                                            <img alt="Thương hiệu Việt ra mắt dịch vụ may đo cao cấp " src="~/Assets/Images/shop/The Men_ Quang Lê_0022(6).png" title="Thương hiệu Việt ra mắt dịch vụ may đo cao cấp ">
                                        </a>
                                    </div>
                                    <h3 class="news-head" style="margin:0">
                                        <a class="news-title" href="#">Thương hiệu Việt ra mắt dịch vụ may đo cao cấp  </a>
                                    </h3>
                                    <div class="news-dates">
                                        <span class="news-date">15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-all"><a href="#">Xem tất cả Tin Tức</a></div>
                    <script>
                        $('.owl-carousel').owlCarousel({
                            loop: true,
                            margin: 10,
                            autoplay: true,
                            autoplayTimeout: 2000,
                            autoplayHoverPause: true,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                600: {
                                    items: 3
                                },
                                1000: {
                                    items: 3
                                }
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

